body{
  font-family: 'Kumbh Sans', sans-serif;
  background-color: hsl(240,73%,65%);
}
.container{
  padding: 15rem;
}
.card{
  height:400px;
  border-radius: 12px;
}
.col-md-6{

  padding-top: 30px;
}
.one{
  padding-top: 80px;
}
.img-overlaid{
  height:200px;
  width: auto;
}
.box-overlaid{
  height: 90px;
  width: auto;
}
